@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-style: Montserrat, sans-serif;
    background-color: #d8dcc3;
}


.leftSide {
    width: 15%;
    height: 100vh;
    background-color: rgba(50, 86, 57, 0.7);
    float: left;
    padding: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: .2s;
}

.leftSide:hover {
    background-color: rgba(50, 86, 57, 1);
}

.leftSide .user {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.leftSide .user img {
    height: 50px;
    border-radius: 100px;
    margin-right: 10px;
}

.leftSide .user span {
    font-size: 20px;
    font-weight: bold;
}

.leftSide .user a {
    color: rgb(215, 215, 214);
    text-decoration: none;
    margin-bottom: 80px;
}

.leftSide .user a:hover {
    color: #c7b700;
}

.leftSide .shortcut-buttons .user a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000000;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
}
  
.leftSide .shortcut-buttons .user a:hover {
    background-color: #000000;
}

.middle {
    margin-top: 6px;
    height: 90vh;
    width: 65%;
    background-color: #d8dcc3;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 380px; /* add some padding to the top to offset cut-off area */
    margin-left: 10px;
    padding-right: 10px;
    overflow-y: scroll;
}
  
.rightSide {
    background-color: #d8dcc3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5.5px;
}

.rightSide img {
    width: 100%;
    height: 678px;
}

/* newsfeed  */

.write-post {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 1rem;
    border: 1px solid #ccc;
    padding: 1rem;
    height: 160px;
}

.write-post #write-area {
    height: 100%;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1rem;
    font-size: 1rem;
    resize: none;
}

.write-post .write-post-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.write-post #write-submit {
    background-color: #325639; 
    border: none;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    font-size: 1rem;
    padding: 10px 20px;
    transition: .2s
}

.write-post #write-submit:hover, .write-post #post button:hover {
    background-color: #000000;
}

.write-post #post button {
  background-color: #c7b700;
}

.news-feed {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.post {
  border: 1px solid #ccc;
  padding: 1rem;
}

.post-header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.post-header img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.post-body {
  margin-top: 1rem;
}

.post-footer {
  margin-top: 1rem;
}

.post-footer a {
  margin-right: 1rem;
  color: #333;
  text-decoration: none;
}

.post-footer a:hover {
  text-decoration: underline;
}

.verified {
  font-size: 16px;
  color: #000000;
  margin-left: 5px;
}

 
/* Style for comments section */
.comments-section {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 20px;
  padding: 20px;
}

.comments-section h4 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.comments-section ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.comments-section li {
  display: flex;
  margin-bottom: 10px;
}

.comments-section img {
  border-radius: 50%;
  height: 40px;
  margin-right: 10px;
  width: 40px;
}

.comments-section .comment-content {
  display: flex;
  flex-direction: column;
}

.comments-section h5 {
  font-size: 1rem;
  margin: 0 0 5px;
  
}

.comments-section p {
  font-size: 1rem;
  margin: 0;
}

.comments-section form {
  margin-top: 20px;
}

.comments-section textarea {
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 1rem;
  height: 80px;
  margin-bottom: 10px;
  padding: 10px;
  resize: vertical;
  width: 100%;
}

.comments-section button {
  background-color: #325639;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  font-size: 1rem;
  padding: 10px 20px;
}

.fixed-box {
  top: 20px; /* Distance from the top of the viewport */
  right: 20px; /* Distance from the right of the viewport */
  width: 200px;
  background-color: #f5f5f5;
  border: 1px solid #e5e5e5;
  padding: 20px;
}

.test {
  display: flex;
  align-items: center;
  gap: 20px;

}

.nav-farm-logo {
  width: 50%;
  height: 50%;
}

.middle::-webkit-scrollbar {
  width: 8px !important;
}

.middle::-webkit-scrollbar-thumb {
  background: #888 !important;
  border-radius: 10px !important;
}

.middle::-webkit-scrollbar-thumb:hover {
  background: #555 !important;
}