@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-style: Montserrat, sans-serif;
    background-color: #cecece !important;
}

#first-page {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#first-page .course {
    width: 40%;
    height: 70%;
    padding: 30px;
    background-image: radial-gradient(farthest-corner at 100px 600px, rgb(59, 120, 87), rgb(147, 122, 62));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    color: white;
}

#first-page .course .course-title {
    font-size: 2rem;

}

#first-page .course .course-prof {
    font-size: 1.2rem;
}

#first-page .course .course-description {
    text-align: justify;
    padding: 10px;
}

/* #first-page .course .course-button .btn btn-primary{
    
} */

#second-page, #third-page {
    margin: 0;
    padding: 0; 
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#second-page .title, #third-page .title {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    font-size: 3rem;
    font-weight: bold;
}

#second-page .container, #third-page .container {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#second-page .firstCol img, #third-page .firstCol img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    align-items: center;
}

#second-page .firstCol, #third-page .firstCol {
    background-image: linear-gradient(100deg, rgba(65, 51, 23, 0.8), rgba(87, 91, 17, 0.8));
    color: white;
    border-radius: 15px;
    padding: 20px;
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#second-page .secondCol, #third-page .secondCol {
    padding: 40px;
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#second-page .secondCol .learning-objectives, #third-page .secondCol .learning-objectives {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#second-page .secondCol .student-testimonials, #third-page .secondCol .student-testimonials {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#second-page .thirdCol, #third-page .thirdCol {
    background-image: linear-gradient(100deg, rgba(87, 91, 17, 0.8), rgba(65, 51, 23, 0.8));
    color: white;
    border-radius: 15px;
    padding: 20px;
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#second-page .thirdCol .instructor-bio, #third-page .thirdCol .instructor-bio{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#second-page .thirdCol .instructor-bio .div-title, #third-page .thirdCol .instructor-bio .div-title {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
}

#second-page .thirdCol .instructor-bio .image img, #third-page .thirdCol .instructor-bio .image img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

#second-page .thirdCol .instructor-bio .subtitle, #third-page .thirdCol .instructor-bio .subtitle {
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
}

#second-page .thirdCol .instructor-bio .div-content, #third-page .thirdCol .instructor-bio .div-content {
    text-align: justify;
    padding: 10px;
}

/* second-page */

#second-page .secondCol .learn-more{
    position: relative;
    /* display: inline-block; */
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;

    margin-bottom: 60px;
}


#second-page .secondCol .learn-more {
    width: 12rem;
    height: auto;
}
   
 #second-page .secondCol .learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem; 
    background: #3b6748;
    border-radius: 1.625rem;
}


#second-page .secondCol .learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}

#second-page .secondCol .learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}

#second-page .secondCol .learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}

#second-page .secondCol .learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 10;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}

#second-page .secondCol .learn-more:hover .circle {
    width: 110%;
}

#second-page .secondCol .learn-more:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
}

#second-page .secondCol .learn-more:hover .button-text {
    color: #fff;
}

/* third-page */

#third-page .secondCol .learn-more{
    position: relative;
    /* display: inline-block; */
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;

    margin-bottom: 40px;
}

#third-page .secondCol .learn-more {
    width: 12rem;
    height: auto;
}
   
 #third-page .secondCol .learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem; 
    background: #3b6748;
    border-radius: 1.625rem;
}


#third-page .secondCol .learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}

#third-page .secondCol .learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}

#third-page .secondCol .learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}

#third-page .secondCol .learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 10;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}

#third-page .secondCol .learn-more:hover .circle {
    width: 110%;
}

#third-page .secondCol .learn-more:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
}

#third-page .secondCol .learn-more:hover .button-text {
    color: #fff;
}