@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* colors:
    beige
    A4BE7B
    5F8D4E
    285430
*/

body {
    margin: 0;
    padding: 0;
    color: black    ;
    font-family: Montserrat, sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100vw;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container #user-information {
    margin: 0;
    padding: 0;

    width: 400px;
    height: 250px;

    background-color: rgba(0, 0, 0, 0.2);

    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;    
}

.container #user-information input, .container #user-information button {
    width: 90%;
    margin: 10px;
}