@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* colors:
    beige
    A4BE7B
    5F8D4E
    285430
*/

body {
    margin: 0;
    padding: 0;
    color: white    ;
    font-weight: bold;
    font-family: Montserrat, sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100vw;
    background-image: radial-gradient(farthest-corner at 100px 600px, rgb(59, 120, 87), rgb(147, 122, 62), rgba(165, 170, 73), rgb(59, 120, 87));
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite alternate;
}
@keyframes color{
    0%{
        /* background-position: 0 50%; */
        background-position: left;
    }
    /* 50%{
        background-position: 100 50%;
    } */
    100%{
        /* background-position: 0 50%; */
        background-position: right;
    }
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container #user-information {
    margin: 0;
    padding: 0;

    width: 400px;
    height: 250px;

    background-color: rgba(0, 0, 0, 0.2);

    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;    
}

.container #user-information input, .container #user-information button {
    width: 90%;
    margin: 10px;
}

.container #user-information button{
    background-color: rgb(183, 136, 27);
    border: 1px rgb(183, 136, 27);
}

.container #user-information button:hover{
    background: rgb(89, 136, 51);
}